@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Cabin', sans-serif;
    color: #fff;
    min-height: 100vh;
    background: rgba(179,179,179,1);
}

.wrapper {
    min-width: 100vh;
    min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(14,14,14,1) 26%, rgba(40,40,40,1) 39%, rgba(65,65,65,1) 52%, rgba(85,85,85,1) 63%, rgba(103,103,103,1) 73%, rgba(124,124,124,1) 81%, rgba(179,179,179,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.header-container {
    display: flex;
    align-items: center;
    height: 200px;
    font-size: 1.6rem;
}

.form-container {
    width: 100vw;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
}

.todo-form {
    display: flex;
}

.todo-input {
    height: 2.4rem;
    width: 500px;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: 'Cabin', sans-serif;
}

.todo-slider {
  -webkit-appearance: none;
    --thumb-radius: 0.6em;
    --track-thickness: 0.5em;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min))/var(--range));
    --sx: calc(var(--thumb-radius) + var(--ratio)*(100% - 2*var(--thumb-radius)));
    --color: hsl(calc(100 + -20 * var(--val)), 100%, 50%);
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: transparent;
    border: none;
    transform: rotate(270deg);
    height: 2.4rem;
    width: 2.4rem;
}
.todo-slider, .todo-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  font-size: 100%;
  border: none;
}
.todo-slider::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  height: var(--track-thickness);
  border-radius: 0.25em;
  background: linear-gradient(var(--color), var(--color)) 0/var(--sx) 100% no-repeat #EAEDED;
}
.todo-slider::-webkit-slider-thumb {
  margin-top: calc((var(--track-thickness) - 2*var(--thumb-radius))/2);
  box-sizing: border-box;
  border: none;
  width: calc(2*var(--thumb-radius));
  height: calc(2*var(--thumb-radius));
  border-radius: 50%;
  background: var(--color);
  font-size: 100%;
}

.date-input {
    padding: 5px 10px;
    height: 2.4rem;
    font-size: 1rem;
    font-family: 'Cabin', sans-serif;
    outline: none;
    border: none;
}

.date-input::-webkit-calendar-picker-indicator {
    margin: 0;
    color: transparent;
    opacity: 1;
}

.btn {
    height: 2.4rem;
    border: none;
    background: #fff;
    width: 2.4rem;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: #000;
    color: #fff;
}

.todo-container {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo__item {
    display: flex;
    margin-bottom: 5px;
}

.todo__item:last-child {
    margin-bottom: 0;
}

.todo__content {
    height: 2.4rem;
    background: #fff;
    width: 500px;
    padding: 5px 10px;
    color: #000;
    display: flex;
    align-items: center;
}

.deadline-container {
    padding: 5px 5px;
    color: #000;
    background: #fff;
    font-size: 0.8rem;
}

.priority-container {
    width: 2.4rem;
    height: 2.4rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priority{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.todo__buttons-container {
    display: flex;
}

.complete-btn,
.delete-btn {
    color: #fff;
    background: #000;
}

.complete-btn:hover,
.delete-btn:hover {
    color: #000;
    background: #fff;
}

.complete li {
    text-decoration: line-through;
}

i {
    pointer-events: none;
}

@media (max-width: 640px) {
    .todo-container {
        padding: 0px;
    }
    .todo-input {
        width: 72vw;
    }
    .todo__content {
        width: 66vw;
    }
}
